.navbar-expand-lg{
  .navbar-collapse {
    padding: 20px;
    justify-content: space-between;
    font-size: 25px;
  }
}
.navbar-brand{
  font-size: 25px;
  padding: 20px;
  color: rgb(244, 236, 149);
}
